<a href="https://colab.research.google.com/github/juanpa3214-k/darkSpace1/blob/main/pepino.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 a = 2
print(a)

2

In [ ]:
nombre =("carlos ")
print(nombre)

carlos

In [ ]:
nombre="carlos"
print(type(nombre))

<class 'str'>

In [ ]:
nombre= "carlos" #me cuenta cuantos caracteres tine mi variable
print(len(nombre))

6

In [ ]:
nombre= "carlos"
print(nombre[5]) #inicia la succion desde 0

s

In [ ]:
nombre =  input    (f"ingresa tu nombre       " )
print              (f"hola, como esta {nombre}" )

ingresa tu nombre       juan
hola, como esta juan

In [ ]:
a=float(input("digite el primer numero:"))
b=float(input("digite el segundo numero:"))#numeros decimales float
resultado = a*b
print(resultado)

digite el primer numero:2
digite el segundo numero:2
4.0

In [ ]:
#indice de masa corporal de una persona
nombre = input("ingresa tu nombre:")
print(f"hola {nombre},como esta:")
peso=float(input("ingrese su peso kg:")) # input para pedir datos print(muestra)
altura=float(input("ingrese su altura mts:"))
imc= (peso/altura**2)
print(f"EL IMC de esta persona es:{imc}")

ingresa tu nombre:juan
hola juan,como esta:
ingrese su peso kg:-50
ingrese su altura mts:1.56
EL IMC de esta persona es:-20.5456936226167

$a>b$

In [ ]:
a=5
b=6
print(a==b)
print(a!=b) #diferente que
print(a>b)
print(a<b)
a1=6
b1=6
print(a1==b1)

False
True
False
True
True

In [ ]:
#ecuaciones logica simples
a=1
b=2
print(a > b and b > 1)
print(a > b or  b > 1) # si alguna se cumple da true

False
True

In [ ]:
#ecuaciones logica simples
a=1
b=2
if a>b:         #if"si" no se cumple if entonce ejecuta else
  suma =a+b
else:
  suma = a-b
print(suma)

-1

In [ ]:
#area de un trinagulo conociendo base y altura
base = float(input("ingrese base del triangulo"))
altura = float(input("ingrese base del triangulo"))
if base>0 and altura>0:
  resultado= (base*altura)/2
  print(resultado)
else:
  print("base y la altura no puede ser negativas")

ingrese base del triangulo45
ingrese base del triangulo45
1012.5

In [ ]:
#mayor 18 años,hijo unico,sea hombre
edad = (input(" eres mayor a 18 años?   si: 1, no:2 ")) #enteros numeros
if(edad=="1"):#es un carecter ""
  print("adulto")
else:
  print("no es adulto")
hijo = (input(" eres hijo unico? si: 1, no:2 ")) #enteros numeros
if(hijo=="1"):
  print("si")
else:
  print("no")
hombre= (input(" eres hombre? si: 1, no:2 ")) #enteros numeros
if(hombre=="1"):
  print("adulto")
else:
  print("no es adulto")

if edad=="1" and hijo=="1" and hombre=="1":
  print("se fue pal ejercito")
else:
   print("pa la house")

 eres mayor a 18 años?   si: 1, no:2 1
adulto
 eres hijo unico? si: 1, no:2 1
si
 eres hombre? si: 1, no:2 1
adulto
se fue pal ejercito

In [ ]:
#notas parcilaes el primeoro 30,30,40, calcule la nota finla del estudiante aprueba o no
nota1=float(input("ingrese nota 1 (30%)"))
nota2=float(input("ingrese nota 2 (30%)"))
nota3=float(input("ingrese nota 3 (40%)"))
resultado=float((nota1*0.3+nota2*0.3+nota3*0.4))
if nota1>=0 and nota1<=5 and nota2>=0 and nota2<=5 and nota3>=0 and nota3<=5: #prporcion de lenguaje logico if
  print(resultado)
  print("aprueba")
else:
  print(resultado)
  print("reprueba")

ingrese nota 1 (30%)50
ingrese nota 2 (30%)50
ingrese nota 3 (40%)50
50.0
reprueba

In [ ]:
a=1 #numeor entero
A="1"#  cadena caracter
a==A

False

In [ ]:
from re import S
import math
ingrese=float(input("ingrese un angulo en grados"))
radian=math.radians
sin=math.sin(radian)
cos=
tan=

In [ ]:
_int=18
print(type(_int)) #para verificar el tipo de dato de la variable
_int_to_str =str(_int)
print(type(_int_to_str))

<class 'int'>
<class 'str'>

In [ ]:
_int=18
print(type(_int)) #para verificar el tipo de dato de la variable
_int_to_str =str(_int) # pasa los enteors en caracteres _int_str["1","8"]
print(len(_int_to_str)) # lee los caracteres de _int
print(_int_to_str[0]) #pone la poscion de un carecter de una variable  tipo entero
print(_int_to_str[1])

<class 'int'>
2
1
8

In [ ]:
c="12" #caracter lo devuelve como nuoe rentero
a=int(c) #me devuleve lo de la variable como numero entero
print(c)

12

In [ ]:
print(bool(0)) #solo este dato es false si pongo otro caracter o numeoro sera verdadero
print(bool(1))
print(bool("")) #y tambien si esta vacio es falso
print(bool("1"))

False
True
False
True

In [ ]:
for n in range(6): #CICLO Y ESTE ES EL CRITERIO DE PARAR
 print(n)

0
1
2
3
4
5

In [ ]:
 for j in range(6): #CICLO Y ESTE ES EL CRITERIO DE PARAR
   print(n)

5
5
5
5
5
5

In [ ]:
nombre="juan"
for j in range(len(nombre)):
 print(nombre[j])
for j in nombre:
  print(j)

j
u
a
n
j
u
a
n

In [ ]:
nombre="juan"
for j in (nombre):
  if j=="a" or j=="e" or j=="i" or j=="o" or j=="u":
    print(j)
vocales=2
for j in (nombre):
  if j in "a,e,i,o,u":
   vocales =vocales
print(f"numero de vocales: {vocales}")

u
a
numero de vocales: 2

In [ ]:
#imprimr nombre alreves
nombre="juan"
j=len(nombre)-1
revez=""
for  a in range(len(nombre)):
  revez=revez+nombre[j-a] #revez += nombre[j-a] sintaxis
print(revez)

nauj

In [ ]:
#imprimr nombre alreves
nombre="juan"
j=len(nombre)
revez=""
for  a in range(len(nombre), 0,-1):
  revez=revez+nombre[a-1] #revez += nombre[j-a] sintaxis
print(revez)

nauj

In [ ]:
#solicitar numeor y si el numoer es negativo paro el programa
suma=0
numero= float(input("ingrese numero:"))
while numero >= 0: #repiten el bulce hasta que la condicion se destruya
  suma += numero
  numero= float(input("ingrese numero:"))
print(suma)

ingrese numero:567
ingrese numero:698
ingrese numero:798
ingrese numero:-78
2063.0

In [ ]:
#sumar los primeor 10 nuemor utilzlinaod whiele del comenzapd dle 0 y que sena par
suma=0
contador=0
numero=0
while contador <=10 :
  if numero %2==0: #verifica que el numero es par
    suma += numero
    contador +=1
  numero +=1
print(suma)

110

In [ ]:
#una perona ingresa datos, ingresa numoer hasta que presiona s debemos entregar el numoer max y min0
flag=0
nmax=-999999999999
nmin=999999999999
numero=input("ingrese numero:")
while numero != "s":
  num=float(numero)
  if (num> nmax):
   nmax=num
  if (num<nmin):
   nmin=num
  numero=(input("ingrese numero:"))
  flag=1
if(flag==1):
  print(nmax,nmin)
else:
    print("no se ingresaron numeros")

ingrese numero:4
ingrese numero:4
ingrese numero:s
4.0 4.0

In [ ]:
# Inicializamos las variables para el máximo y mínimo
max_num = None
min_num = None

while True:
    # Pedimos al usuario ingresar un número o 's' para salir
    entrada = input("Ingresa un número o 's' para salir: ")

    if entrada == 's':  # Si el usuario ingresa 's', terminamos el bucle
        break

    try:
        # Intentamos convertir la entrada a un número
        numero = float(entrada)

        # Establecer el valor máximo y mínimo
        if max_num is None or numero > max_num:
            max_num = numero
        if min_num is None or numero < min_num:
            min_num = numero
    except ValueError:
        # Si no se puede convertir a número, mostramos un mensaje de error
        print("Por favor ingresa un número válido.")

# Mostramos el resultado
if max_num is not None and min_num is not None:
    print(f"El número máximo ingresado es: {max_num}")
    print(f"El número mínimo ingresado es: {min_num}")
else:
    print("No se ingresaron números.")

Ingresa un número o 's' para salir: 35
Ingresa un número o 's' para salir: 9
Ingresa un número o 's' para salir: s
El número máximo ingresado es: 35.0
El número mínimo ingresado es: 9.0

In [ ]:
#sumar los numeros
a=float(input("ingrese un numero:"))
n=float(input("ingrese un numeoro:"))
suma =a+n
print(suma)

ingrese un numero:6
ingrese un numeoro:8
14.0

In [ ]:
def suma(a,b):
  suma=a+b
  return suma
a=float(input("ingrese un numero:"))
suma=suma(a,b)
b=float(input("ingrese un numeoro:"))
print(suma)

ingrese un numero:3
ingrese un numeoro:3
5.0

In [ ]:
def resta(a,b):
  resta=a-b
  return resta
a=float(input("ingrese un numero:"))
b=float(input("ingrese un numeoro:"))
resta=resta(a,b)
print(resta)

In [ ]:
def multiplicacion(a,b):
  multiplicacion=a*b
  return multiplicacion
a=float(input("ingrese un numero:"))
b=float(input("ingrese un numeoro:"))
multiplicacion=multiplicacion(a,b)
print(multiplicacion)

ingrese un numero:3
ingrese un numeoro:3
9.0

In [ ]:
def multiplicacion(a,b):
  div>0
  div=a/b
  return div
a=float(input("ingrese un numero:"))
b=float(input("ingrese un numeoro:"))
div=div(a,b)
print(multiplicacion)

In [ ]:
#calcular los primos n numoeros primos,donde n es ingresado por teclado

In [ ]:
  def es_primo(numero):
    if numero < 2:
        return False
    for i in range(2, int(numero**0.5) + 1):
        if numero % i == 0:
            return False
    return True

def primeros_n_primos(n):
    primos = []
    numero = 2
    while len(primos) < n:
        if es_primo(numero):
            primos.append(numero)
        numero += 1
    return primos

# Solicitar al usuario la cantidad de números primos
try:
    n = int(input("Ingrese la cantidad de números primos que desea calcular: "))
    if n <= 0:
        print("Por favor, ingrese un número mayor que cero.")
    else:
        print(f"Los primeros {n} números primos son: {primeros_n_primos(n)}")
except ValueError:
    print("Por favor, ingrese un número válido.")

Ingrese la cantidad de números primos que desea calcular: 890
Los primeros 890 números primos son: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999, 3001, 3011, 3019, 3023, 3037, 3041, 3049, 3061, 3067, 3079, 3083, 3089, 3109, 3119, 3121, 3137, 3163, 3167, 3169, 3181, 3187, 3191, 3203, 3209, 3217, 3221, 3229, 3251, 3253, 3257, 3259, 3271, 3299, 3301, 3307, 3313, 3319, 3323, 3329, 3331, 3343, 3347, 3359, 3361, 3371, 3373, 3389, 3391, 3407, 3413, 3433, 3449, 3457, 3461, 3463, 3467, 3469, 3491, 3499, 3511, 3517, 3527, 3529, 3533, 3539, 3541, 3547, 3557, 3559, 3571, 3581, 3583, 3593, 3607, 3613, 3617, 3623, 3631, 3637, 3643, 3659, 3671, 3673, 3677, 3691, 3697, 3701, 3709, 3719, 3727, 3733, 3739, 3761, 3767, 3769, 3779, 3793, 3797, 3803, 3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189, 5197, 5209, 5227, 5231, 5233, 5237, 5261, 5273, 5279, 5281, 5297, 5303, 5309, 5323, 5333, 5347, 5351, 5381, 5387, 5393, 5399, 5407, 5413, 5417, 5419, 5431, 5437, 5441, 5443, 5449, 5471, 5477, 5479, 5483, 5501, 5503, 5507, 5519, 5521, 5527, 5531, 5557, 5563, 5569, 5573, 5581, 5591, 5623, 5639, 5641, 5647, 5651, 5653, 5657, 5659, 5669, 5683, 5689, 5693, 5701, 5711, 5717, 5737, 5741, 5743, 5749, 5779, 5783, 5791, 5801, 5807, 5813, 5821, 5827, 5839, 5843, 5849, 5851, 5857, 5861, 5867, 5869, 5879, 5881, 5897, 5903, 5923, 5927, 5939, 5953, 5981, 5987, 6007, 6011, 6029, 6037, 6043, 6047, 6053, 6067, 6073, 6079, 6089, 6091, 6101, 6113, 6121, 6131, 6133, 6143, 6151, 6163, 6173, 6197, 6199, 6203, 6211, 6217, 6221, 6229, 6247, 6257, 6263, 6269, 6271, 6277, 6287, 6299, 6301, 6311, 6317, 6323, 6329, 6337, 6343, 6353, 6359, 6361, 6367, 6373, 6379, 6389, 6397, 6421, 6427, 6449, 6451, 6469, 6473, 6481, 6491, 6521, 6529, 6547, 6551, 6553, 6563, 6569, 6571, 6577, 6581, 6599, 6607, 6619, 6637, 6653, 6659, 6661, 6673, 6679, 6689, 6691, 6701, 6703, 6709, 6719, 6733, 6737, 6761, 6763, 6779, 6781, 6791, 6793, 6803, 6823, 6827, 6829, 6833, 6841, 6857, 6863, 6869, 6871, 6883, 6899, 6907, 6911, 6917]

In [ ]:
#esctrucutras de datos
#la lista, almacenar difententes datos de diferente caracteres
lista=[12,15,"carlos henao"]#lista en python
print(lista[0])

12

In [ ]:
lista=[12,15,"carlos henao"]#lista en python
print(type(lista[0]))

<class 'int'>

In [ ]:
lista=[12,15,"carlos henao"]#lista en python
print(lista[1:3])

In [ ]:
lista=[12,15,"carlos henao"]#lista en python
print(type(lista)) # class list se conoce como un onjeto ligaod a una clase lo que quiere decir que no es una variable sino para python es un bojeto y al hacer eso seria un metodo

In [ ]:
vmax=-99999999
lista=[12,15,]#lista en python
lista.append(20)
print(lista)
for i in lista:
  if (i > vmax):
      vmax=i
print(vmax)

In [ ]:
#realizar un meno que tenga pasta,frijoles,y hamburguesa, que agregue un nuevo plato a la lista
ingrese=input("ingrese plato nuevo:")
lista=["pasta","frijoles","hamburguesa","pan"]
lista.append(ingrese)
print(type(lista))
print(lista)

In [ ]:
#agregar menu funcion, solicitar el plato que plato  quiere  ve en el restaurante y en esa funcion y en ese print donde muestre los platos agregados nuevos
def agregar_plato(menu):
    plato = input("Ingrese el plato que desea agregar: ")
    menu.append(plato)
    print(f"El plato '{plato}' ha sido agregado al menú.")
    print(menu)

agregar_plato(lista)
print(lista)
#lista.pop() #para borrar el utimo de la lista

In [ ]:
#crear otra funcion donde solicite al pedido al cliente}
print("menu del dia")
print("ingrese 1 para pasta")
print("ingrese 2 para frijoles")
print("ingrese 3 para hamburguesa")
print("ingrese 4 para pan")
def pedir_plato(menu):
    pedido=int(input("Ingrese el plato que desea pedir: "))
    #print(type(pedido)) pillar que tipo de dato es y como se esta ejecutando
    if pedido>= 1  and pedido<=4 :
        print(f"El plato '{menu[pedido-1]}' está disponible en el menú.")
    else:
        print(f"Lo siento, el plato '{pedido}' no está disponible en el menú.")
pedir_plato(lista)

In [ ]:
def suma(a,b):
  a=3
  b=5
  suma=a+b
  return suma
print(suma)
suma(10,18)

In [ ]:
def suma():
  a=3
  b=5
  sum=a+b
  return sum
suma()
print(sum)

a=suma()
resta(a)

In [ ]:
lista= ["frijoles","mondongon","pan","azucar"]
lista.remove("frijoles") #POP quita el ultimo
print(lista)

['mondongon', 'pan', 'azucar']

In [ ]:
lista=["juan","pablo","rubio","lasso"]
lista2=["1","2","3","4"]
restaurante=[lista,lista2]
print(restaurante[0][2])

rubio

In [ ]:
#tupla, son estacticas
my_tuple=(1,2,3,4)
print(type(my_tuple))
print(my_tuple)
print(my_tuple[0])

<class 'tuple'>
(1, 2, 3, 4)
1

In [ ]:
#crear una tupla con mis materias devolver la longitud o cantidad de mateirass
my_tuple=("mate","electronica","laboratorio","fisica","programacion")
print(my_tuple)
print(len(my_tuple)"nuemor de materias")

('mate', 'electronica', 'laboratorio', 'fisica', 'programacion')
5

In [ ]:
tupla1=(1,2,3,4)
tupla2=(5,6,7,8)
producto_escalar=0
for i in range(len(tupla2)):
  producto_escalar += tupla1[i]*tupla2[i]
print(producto_escalar)

70

In [ ]:
#convertilo en un afuncion
def producto_escalar(tupla1,tupla2):
  producto_escalar=0
  for i in range(len(tupla2)):
    producto_escalar += tupla1[i]*tupla2[i]
  return producto_escalar


  tupla1=(1,2,3,4)
  tupla2=(5,6,7,8)
  producto_escalar += (tupla1,tupla2)
  print(producto_escalar)
producto_escalar(tupla1,tupla2)

22

In [ ]:
#tupla de matris 2x2 y otra un vector de 1x2

In [ ]:
tupla3=(2,1)
tupla1=(2,4)
tupla2=(1,5)
tupla=(tupla1,tupla2)
def producto_escalar(tupla,tupla3):
  producto_escalar=0
  for i in range(len(tupla,tupla3)):
    producto_escalar += tupla[i]*tupla3[i]
  return producto_escalar
print(producto_escalar)
producto_escalar(tupla,tupla3)

<function producto_escalar at 0x7aa34c583b50>

TypeError: len() takes exactly one argument (2 given)

In [ ]:
tupla(tupla1,tupla2)
tupla3=(2,1)
tupla1=(2,4)
tupla2=(1,5)
def producto_escalar(tupla1,tupla3):
  producto_escalar=0
  for i in range(len(tupla3)):
    producto_escalar += tupla1[i]*tupla3[i]
  return producto_escalar
print(producto_escalar)
producto_escalar(tupla1,tupla3)

In [ ]:
def producto_escalarr(tupla1,tupla3):
  producto_escalarr=0
  for i in range(len(tupla3)):
    producto_escalarr += tupla2[i]*tupla3[i]
  return producto_escalarr
print(producto_escalarr)
producto_escalarr(tupla2,tupla3)

In [ ]:
m=[]
tupla=((2,1),(1,5))
tupla2=(2,4)

for i in range(len(tupla2)):
    a=0
    for k in range(len(tupla1)):
        a += tupla[i][k]*tupla2[k]
    m.append(a)
print(m)

In [3]:
#estructuras de datos (conjutnos o sets), me permite  interactuar con los conjunto0s matematicos
my_set={5,2,2,9,4,"q"} # estab contenidos enneste conjunto osea noo hay orden, lo que implica no tener posicion fija, ademas elimina el dato repetido de myset,peromite obtener datos de varia naturalwza
print(type(my_set))
print(my_set)

<class 'set'>
{2, 4, 5, 9, 'q'}

In [ ]:
#tareas 1)la unionnde conjunotos,la interseccion de conjunts0,
conjuntos :
A={1,2,3,4,5}
B={3,4,5,6,}

In [8]:
#intercepcion
a={1,2,3,4,5}
b={3,4,5,6,}
intercepcion=a.intersection(b)
print(intercepcion)

{3, 4, 5}

In [4]:
#primer metodo = union
set_1={1,2,3,4,5}
set_2={4,5,6,7,8}
union= set_1.union(set_2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
 #devolver los elemnetos de que esten en b y los de b que esten en a
set_1={1,2,3,4,5}
set_2={1,3,5}
diferencia=set_1.difference(set_2)
print(diferencia)

{2, 4}

In [10]:
#devolver los elementos de b(set_2) que no esten en a(set_1)
set_1={1,2,3,4,5}
set_2={1,3,5}
diferencia=set_2.difference(set_1)
print(diferencia)

set()

In [12]:
#sea A={1,2,3,4} y B={5,6,7,8}
#elabore  un programa que evalue si los 2 conjunots son diajuntos o mutuamwnte excluyentes ayuda metodm:isdisjoin()
A={1,2,3,4}
B={5,6,7,8}
print(A.isdisjoint(B))#para verificar que la condicion sea correcta
if A.isdisjoint(B):
  print("son disjuntos")
else:
  print("no son disjuntos") #consultar mas tecnicas de estas "metodos de conjuntos"

True
son disjuntos

In [14]:
#diccionario crear, es un aestrcutura que uno puede organizar los datos de manera partcicualr donde estabkesco parametros clave, valor
#clave=etiqueta y valor= cada uno d elos registros que va tomando esa etiqueta
diccionario ={"NOMBRE":"JUAN",    "EDAD":21,    "ALTURA":1.73} #SON ESPECIFICOS DE CADA MEOTODO EN ESTE CADO EL DICCIONARIO
print(diccionario)
print(diccionario["NOMBRE"])

{'NOMBRE': 'JUAN', 'EDAD': 21, 'ALTURA': 1.73}
JUAN

In [18]:
diccionario ={"NOMBRE":"JUAN",    "EDAD":21,    "ALTURA":1.73} #SON ESPECIFICOS DE CADA MEOTODO EN ESTE CADO EL DICCIONARIO
diccionario.get("NOMBRE")
diccionario.get("apellifdo","clave no encontrada")

'clave no encontrada'

In [19]:
diccionario ={"NOMBRE":"JUAN",    "EDAD":21,    "ALTURA":1.73} # me da los valores de cada clave o etiqueta d el diccionario
print(diccionario.values())

dict_values(['JUAN', 21, 1.73])

In [20]:
diccionario ={"NOMBRE":"JUAN",    "EDAD":21,    "ALTURA":1.73}
print(diccionario.keys())

dict_keys(['NOMBRE', 'EDAD', 'ALTURA'])

In [35]:
diccionario ={"luis":{"estatura":1.65,"peso":65,"edad":20},"sebastian":{"estatura":1.70,"peso":65,"edad":20}}
print(diccionario)
print(diccionario["luis"]["peso"])
print(diccionario["sebastian"]["estatura"])
diccionario["luis"]["peso"]=70
print(diccionario["luis"])

{'luis': {'estatura': 1.65, 'peso': 65, 'edad': 20}, 'sebastian': {'estatura': 1.7, 'peso': 65, 'edad': 20}}
65
1.7
{'estatura': 1.65, 'peso': 70, 'edad': 20}

In [37]:
new= {"estatura":1.73,"peso":64,"edad":20}
diccionario["sebastian"].update(new)
print(diccionario["sebastian"])

{'estatura': 1.73, 'peso': 64, 'edad': 20}

In [55]:
diccionario = {"sujeto":{"edad":18,"nombre":"ana","ciudad":"cucuta"}}
print(diccionario)
print(diccionario.values())
print(diccionario["sujeto"]["edad"])
print(diccionario["sujeto"]["nombre"])
print(diccionario["sujeto"]["ciudad"])
print(diccionario.keys())
diccionario["sujeto"]["ciudad"]="pereira"
print(diccionario["sujeto"])
new= {"edad":33,"nombre":"paola","ciudad":"armenia"}
diccionario["sujeto"].update(new)
print(diccionario["sujeto"])

{'sujeto': {'edad': 18, 'nombre': 'ana', 'ciudad': 'cucuta'}}
dict_values([{'edad': 18, 'nombre': 'ana', 'ciudad': 'cucuta'}])
18
ana
cucuta
dict_keys(['sujeto'])
{'edad': 18, 'nombre': 'ana', 'ciudad': 'pereira'}
{'edad': 33, 'nombre': 'paola', 'ciudad': 'armenia'}

In [58]:
diccionario = {"pacientes":{"tatiana":{"edad":6,"peso":45,"estatura":1.38},"carlos":{"edad":6,"peso":45,"estatura":1.38}}}
print(diccionario)

{'pacientes': {'tatiana': {'edad': 6, 'peso': 45, 'estatura': 1.38}, 'carlos': {'edad': 6, 'peso': 45, 'estatura': 1.38}}}

In [ ]:
diccionario = {"telefonica"}